////////////////////////////////////////
// contextual-toolbar.component.scss
////////////////////////////////////////

  .toolbar {
    position: absolute;
    background-color: white;
    height: 52px;
    width: 350px;
    margin: 0px auto;
    text-shadow: 1px 1px 0 #fff;
    z-index: 1;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 2px #c1c1c1;
  }

  .toolbar .spacer {
    display: inline-block;
    border-left: 1px solid #c1c1c1;
    height: 34px;
    margin: 0 5px -11px;
  }

  .toolbar button span { 
    margin-left: 20px; 
  } 

  .toolbar button {
    padding: 0px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 6px;
    height: 40px;
    border: 0;
  }

  .toolbar button:hover {
    border: 1px solid black;
  }

  .contextual-btn {
    font-size: 16px; 
    background: white;     
    background-repeat: no-repeat; 
    background-size: 20px 20px; 
    background-position: 5px 50%; 
  }

  .rightButton { 
    width: 124px; 
    background-image: url(/public/images/icon-casefile-comments.svg); 
 
  } 
 
  .leftButton { 
    background-image: url(/public/images/em-annotate-highlight.svg); 
    width: 190px; 
  } 

  .arrow-down {
    margin: 0 auto;
    margin-top: 53px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #c1c1c1;
  }

  .inner-triangle {
    position: relative;
    top: -13px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }


////////////////////////////////////////
////////////////////////////////////////
