////////////////////////////////////////
// comment-item.component.scss
////////////////////////////////////////

form {
  width: 95%;
  padding-right: 2px;
  margin-bottom: 5px;
  position: absolute;
  background-color: #ffffff;
  padding: 20px 20px 0;
}

form textarea {
  width: 95%;
  height: 90px;
  padding: 2px;
  border: none;
  
  font-size: 17px;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  overflow: hidden;
    resize: none;
}

.mimic-focus {
  outline-offset: -2px;
  outline: -webkit-focus-ring-color auto 5px;
}

////////////////////////////////////////
////////////////////////////////////////
