////////////////////////////////////////
// annotation-pdf-viewer.component.scss
////////////////////////////////////////

#annotation-wrapper {
    position: relative;
    width: 100%;
}

#content-wrapper {
    overflow: auto;
}

////////////////////////////////////////
////////////////////////////////////////
