/* ==========================================================================
   #CASE BAR
   ========================================================================== */

.jui-casebar {
  @include govuk-clearfix;
  background-color: $govuk-blue;
  color: $govuk-white;
  padding-top: $govuk-spacing-scale-3;
  padding-bottom: $govuk-spacing-scale-3;
}


@include mq($until: tablet) {

  .jui-casebar__options {
    @include govuk-clearfix;
    margin-top: $govuk-spacing-scale-2;
  }

}


@include mq($from: tablet) {

  .jui-casebar__details {
    float: left;
  }

  .jui-casebar__options {
    float: right;
    margin-top: -$govuk-spacing-scale-1;
    margin-bottom: -$govuk-spacing-scale-1;
  }

}


.jui-casebar__title {
  font-weight: bold;
  margin-left: $govuk-spacing-scale-2;
}