/* ==========================================================================
   #CASEBAR
   ========================================================================== */

.govuk-button--secondary {
  background-color: $govuk-grey-3;
  box-shadow: 0 2px 0 rgba($govuk-grey-1, .7); // 70%
  color: $govuk-black;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-text-colour;
  }

  &:hover,
  &:focus,
  &:link:focus {
    background-color: $govuk-grey-2;
    color: $govuk-text-colour;
  }

}