/* ==========================================================================
   #DIRECTIONS ORDER
   ========================================================================== */

.jui-direction-order {
  border: 1px solid $govuk-border-colour;
  margin-bottom: $govuk-spacing-scale-6;
  padding: $govuk-spacing-scale-4;
}