/* ==========================================================================
   #TABLE
   ========================================================================== */

.jui-table .govuk-c-table__header {
  vertical-align: top;
}

.jui-table .govuk-c-table__cell {
  vertical-align: top;
}


/* Style variants
   ========================================================================== */

.jui-table--fixed {
  table-layout: fixed;
}