<h2 class="govuk-heading-m">DEMO PAD</h2>
<p>This is a place to test out components</p>


<!--<h1 class="govuk-heading-xl">GDS components</h1>-->
<!--<hr class="govuk-section-break govuk-section-break&#45;&#45;xl govuk-section-break&#45;&#45;visible">-->

<!--<app-govuk-back-link></app-govuk-back-link>-->
<!--<app-govuk-breadcrumbs></app-govuk-breadcrumbs>-->
<!--<app-govuk-button></app-govuk-button>-->
<!--<app-govuk-checkboxes></app-govuk-checkboxes>-->
<!--<app-govuk-date-input></app-govuk-date-input>-->
<!--<app-govuk-details></app-govuk-details>-->
<!--<app-govuk-error-summary></app-govuk-error-summary>-->
<!--<app-govuk-fieldset></app-govuk-fieldset>-->
<!--<app-govuk-file-upload></app-govuk-file-upload>-->
<!--<app-govuk-footer></app-govuk-footer>-->
<!--<app-govuk-header></app-govuk-header>-->
<!--<app-govuk-input></app-govuk-input>-->
<!--<app-govuk-inset-text></app-govuk-inset-text>-->
<!--<app-govuk-panel></app-govuk-panel>-->
<!--<app-govuk-phase-banner></app-govuk-phase-banner>-->
<!--<app-govuk-radios></app-govuk-radios>-->
<!--<app-govuk-select></app-govuk-select>-->
<!--<app-govuk-skip-link></app-govuk-skip-link>-->
<!--<app-govuk-table></app-govuk-table>-->
<!--<app-govuk-tabs></app-govuk-tabs>-->
<!--<app-govuk-tag></app-govuk-tag>-->
<!--<app-govuk-textarea></app-govuk-textarea>-->
<!--<app-govuk-warning-text></app-govuk-warning-text>-->

<!--<h1 class="govuk-heading-xl">HMCTS components</h1>-->
<!--<hr class="govuk-section-break govuk-section-break&#45;&#45;l govuk-section-break&#45;&#45;visible">-->

<!--<app-hmcts-global-header></app-hmcts-global-header>-->
<!--<app-hmcts-primary-navigation></app-hmcts-primary-navigation>-->
<!--<app-hmcts-details-bar></app-hmcts-details-bar>-->
<!--<app-hmcts-sub-navigation></app-hmcts-sub-navigation>-->
<!--<app-hmcts-global-footer></app-hmcts-global-footer>-->
<!--<app-hmcts-progress-bar></app-hmcts-progress-bar>-->
<!--<app-hmcts-timeline></app-hmcts-timeline>-->
<!--<app-hmcts-alert></app-hmcts-alert>-->

<!--<h1 class="govuk-heading-xl">Other components</h1>-->
<!--<hr class="govuk-section-break govuk-section-break&#45;&#45;l govuk-section-break&#45;&#45;visible">-->

<!--<app-case-action-alert></app-case-action-alert>-->
<!--<app-data-list [title]="'DataList'" [dataList]="[{label: 'a', value: '1'},{label: 'b', value: '2'},{label: 'c', value: ''}]"></app-data-list>-->
<!--<app-document-viewer [baseUrl]="'http://localhost:3000/api'" [url]="'http://dm-store-aat.service.core-compute-aat.internal/documents/03e5225e-b13c-4916-915d-a61b7fca39f0'"></app-document-viewer>-->
<!--<app-footer></app-footer>-->
<!--<app-case-actions></app-case-actions>-->
<!--<app-status></app-status>-->
<!--<app-tabs></app-tabs>-->


<app-document-upload></app-document-upload>
<app-document-list
    [page]="0"
    [sortby]="'desc'"
    [order]="'createdOn'"
    [size]="15"
></app-document-list>

<!--<h1 class="govuk-heading-xl">Generic Pages</h1>-->
<!--<hr class="govuk-section-break govuk-section-break&#45;&#45;l govuk-section-break&#45;&#45;visible">-->
<!--<app-cookies></app-cookies>-->
<!--<app-privacy-policy></app-privacy-policy>-->
<!--<app-terms-and-conditions></app-terms-and-conditions>-->
<!--<app-error-service-unavailable></app-error-service-unavailable>-->
<!--<app-confirmation></app-confirmation>-->
<!--<app-task-list></app-task-list>-->
<!--<app-check-your-answers></app-check-your-answers>-->
