<div [ngClass]="{'govuk-form-group': true, 'govuk-form-group--error': error}" [formGroup]="formGroup">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 id="{{id}}-fragment" class="govuk-fieldset__heading">{{title}}</h1>
        </legend>
        <span *ngIf="error" id="{{id}}-error" class="govuk-error-message">{{errorMessage}}</span>
        <div class="govuk-radios" >
            <div class="govuk-radios__item" *ngFor="let option of options; let idx = index">
                <input type="radio"
                       id="{{id}}-radio-{{idx}}"
                       class="govuk-radios__input"
                       [attr.name]="id"
                       [attr.value]="option.id"
                       [value]="option.id"
                       [attr.checked]="option.id === value?'':null"
                       [attr.disabled]="disable ? '' : null"
                       formControlName="{{id}}"/>
                <label class="govuk-label govuk-radios__label" for="{{id}}-radio-{{idx}}">{{option.name}}</label>
            </div>
        </div>
    </fieldset>
</div>
