<div [ngClass]="{'govuk-form-group': true, 'govuk-form-group--error': error}">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">{{title}}</h1>
        </legend>
        <span *ngIf="error" id="{{id}}-error" class="govuk-error-message">{{errorMessage}}</span>
        <div class="govuk-radios" >
            <div class="govuk-radios__item" *ngFor="let option of options; let idx = index">
                <input type="radio"
                       id="{{id}}-radio-{{idx}}"
                       class="govuk-radios__input"
                       name="{{id}}"
                       value="{{option.id}}"
                       [attr.disabled]="disable ? '' : null"
                       [ngModel]="inputedId"
                       (ngModelChange)="radioButtonChanged($event)">
                <label class="govuk-label govuk-radios__label" for="{{id}}-radio-{{idx}}">{{option.name}}</label>
            </div>
        </div>
    </fieldset>
</div>
