
.viewer-menu {
    width: 100%;
    position: sticky;
    left: 0;
}

.rotate {
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 3px 50%;
    background-image: url(/public/images/em-viewer-rotate.svg);
    padding-left: 25px;
    float: right;
    position: relative;
}
