<div class="jui-cf__toolbar" role="toolbar">
    <div class="jui-cf__toolbar-container">
        <!-- show case list tree-->
        <button class="jui-cf__toolbar-button jui-cf__toolbar-button--items" type="button" aria-controls="files" aria-pressed="true" (click)="listView()">All items</button>
        <!-- show case annotations-->
        <button class="jui-cf__toolbar-button jui-cf__toolbar-button--comments" type="button" aria-controls="comments" aria-pressed="false" (click)="commentView()">Comments</button>
    </div>
</div>
