{%- from "case-actions/macro.njk" import juiCaseActions %}

<div class="jui-casebar">

  <div class="jui-width-container">

    <div class="jui-casebar__details">
      {{params.caseId}}<span class="jui-casebar__title"> {{params.parties}}</span>
    </div>

    {% if params.caseActions.actions %}
      <div class="jui-casebar__options">

        {{juiCaseActions({
          actions: params.caseActions.actions
        })}}

      </div>
    {% endif %}
  </div>

</div>