<div class="jui-width-container">
    <app-backlink></app-backlink>
    <div class="govuk-grid-row govuk-main-wrapper">
        <div class="govuk-grid-column-two-thirds">
            <h1 data-selector="create-questions-heading" class="govuk-heading-xl jui-add-another__heading" tabindex="-1">Create questions</h1>
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <fieldset data-selector="question-item" class="govuk-fieldset jui-add-another__item">
                    <legend data-selector="item-heading" class="govuk-fieldset__legend govuk-fieldset__legend--m  govuk-heading-m">Question</legend>
                    <div class="govuk-form-group">
                        <label data-selector="item-subject-label" class="govuk-label">Subject</label>
                        <input data-selector="item-subject-input" class="govuk-input form-control" type="text" formControlName="subject">
                    </div>
                    <div class="govuk-form-group">
                        <label data-selector="item-question-label" class="govuk-label">Question</label>
                        <textarea data-selector="item-question-textarea" type="text" class="govuk-textarea form-control" formControlName="question"></textarea>
                    </div>
                </fieldset>
                <button data-selector="save-button" class="govuk-button" type="submit">Save question</button>
            </form>
        </div>
    </div>
</div>
