
<div class="jui-width-container">
    <app-govuk-back-link></app-govuk-back-link>
    <div class="govuk-grid-row govuk-main-wrapper">
        <div class="govuk-grid-column-two-thirds">
            <h1 data-selector="create-questions-heading" class="govuk-heading-xl jui-add-another__heading" tabindex="-1">Create question</h1>

            <div *ngIf="error.server || error.subject || error.question"
                 class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                 data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li *ngIf="error.server"><a>There Was a Server error</a></li>
                        <li *ngIf="error.subject"><a [routerLink]="['.']" fragment="subject">Enter a subject</a></li>
                        <li *ngIf="error.question"><a [routerLink]="['.']" fragment="question">Enter a question</a></li>
                    </ul>
                </div>
            </div>

            <app-form [callback_options]="callback_options" [formGroup]="form">
                <fieldset class="govuk-fieldset jui-add-another__item">
                    <app-text
                            [id]="'subject'"
                            [label]="'Subject'"
                            [errorMessage]="'Enter a subject'"
                            [text]=""
                            [error]="error.subject"
                            [formGroup]="form"
                    ></app-text>

                    <app-textarea
                            [id]="'question'"
                            [rows]="'5'"
                            [label]="'Question'"
                            [errorMessage]="'Enter a question'"
                            [text]=""
                            [error]="error.question"
                            [formGroup]="form"
                    ></app-textarea>
                </fieldset>
                <button [disabled]="!asyncResolved" data-selector="save-button" class="govuk-button" type="submit">{{asynctext}}</button>
                
            </app-form>
        </div>
    </div>
</div>
