////////////////////////////////////////
// comments.component.scss
////////////////////////////////////////

#comment-wrapper {
    position: absolute;
    height: 100%;
    width: 350px;
    right: 0;
    overflow: auto;
    // background: #eaeaea;
    z-index: 0;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#comment-wrapper h4 {
    margin: 10px;
    padding-top:5px;
}

#comment-wrapper .comment-list {
    font-size: 12px;
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
}

#comment-wrapper .comment-list-item {
    background: govuk-colour(white);
    box-shadow: 0 4px 6px 0 govuk-colour(black);
    box-sizing: border-box;
}

#comment-wrapper .comment-list-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 47px;
    overflow: auto;
}

#comment-wrapper .comment-list-form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}

#comment-wrapper .comment-list-form input, textarea {
    width:100%;
    height: 75px;
    font-size: 12px;
    border-bottom: 1px solid #d0d0d0;
    padding: 2px;
}

////////////////////////////////////////
////////////////////////////////////////
