<div class="hmcts-timeline">
    <div class="hmcts-timeline__item" data-selector="timeline-item" *ngFor="let event of events">
        <div class="hmcts-timeline__header">
            <h2 class="hmcts-timeline__title" data-selector="timeline-event-name">{{event.title | sentencecase}}</h2>
            <p class="hmcts-timeline__by" data-selector="timeline-by"> by {{event.by}}</p>
        </div>
        <p class="hmcts-timeline__date" data-selector="timeline-date"><time attr.datetime="{{event.dateUtc}}">{{event.date}} at {{event.time}}</time></p>
        <ul class="hmcts-timeline__documents" *ngIf="event.documents && event.documents.length > 0">
            <!--<li class="hmcts-timeline__document-item" *ngFor="let document of event.documents"><a class="hmcts-timeline__document-link" href="{{document.href}}">{{document.name}}</a></li>-->
            <li class="hmcts-timeline__document-item" *ngFor="let document of event.documents"><a class="hmcts-timeline__document-link" routerLink="{{document.href}}">{{document.name}}</a></li>
        </ul>
    </div>
</div>
