<div>
  <div *ngIf="isLoaded" style="text-align: center;">
    <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
    <span>{{ page }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
  </div>
  <pdf-viewer *ngIf="src"
              [src]="src"
              [page]="page"
              [show-all]="false"
              [fit-to-page]="true"
              [original-size]="false"
              [autoresize]="true"
              [render-text]="true"
              (after-load-complete)="afterLoadComplete($event)"
              >
  </pdf-viewer>
</div>
