<div>
    <mat-table *ngIf="resultView" [dataSource]="resultView.results">

        <ng-container matColumnDef="case_id">
            <mat-header-cell *matHeaderCellDef>Case reference</mat-header-cell>
            <mat-cell *matCellDef="let row;">{{row.case_id}}</mat-cell>
        </ng-container>
        <ng-container *ngFor="let column of resultView.columns" matColumnDef="{{column.case_field_id}}">
            <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.case_fields[column.case_field_id]}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>

        <mat-row *matRowDef="let results; columns: displayedColumns()"></mat-row>
    </mat-table>
</div>
