/* ==========================================================================
   #CASE ACTIONS MENU
   ========================================================================== */
@import "~govuk-frontend/src/all";
.jui-case-actions__list {
    list-style: none;
    margin: 0;
    padding: 0;
}


.jui-case-actions__item {
    margin-right: $govuk-spacing-scale-2;
    float: left;

    &:last-child {
        margin-right: 0;
    }

}


.jui-case-actions__link {
    background-color: $govuk-grey-4;
    display: block;
    padding: $govuk-spacing-scale-1 $govuk-spacing-scale-2;
    text-decoration: none;

    &:link,
    &:visited,
    &:active {
        color: $govuk-text-colour;
    }

    &:hover {
        background-color: $govuk-grey-3;
    }

}