<app-govuk-back-link></app-govuk-back-link>

<div class="jui-width-container">
    <main class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <!--<button (click)="burnAnnotatedDocument()">Get annotated PDF</button>-->

            <div *ngIf="pageitems" class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{pageitems.header}}</h1>

                <form *ngIf="pageitems" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <ng-container *ngFor="let group of pageitems.groups; let Index = index">
                        <ng-container *ngIf="isSectionExist(group.page)">
                            <h2 class="govuk-heading-m">{{ group.header }}</h2>
                            <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
                                <div class="app-check-your-answers__contents" *ngFor="let content of group.contents; let c = index">
                                    <ng-container>
                                        <dt class="app-check-your-answers__question">{{content.title}}</dt>
                                        <dd class="app-check-your-answers__answer">
                                            <ng-container *ngFor="let detail of content.details; let i = index">
                                                <p *ngIf="detail.type === 'radio'">{{detail[pageValues[detail.control]]}}</p>
                                                <p *ngIf="detail.type === 'textarea'">{{pageValues[detail.control]}}</p>
                                                <p *ngIf="detail.type === 'input'">{{pageValues[detail.control]}}</p>
                                                <p *ngIf="detail.type === 'checkbox'">{{detail[pageValues[detail.control]]}}</p>
                                                <div *ngIf="detail.type === 'comment' && annotations">
                                                    <ng-container *ngIf="annotations">
                                                        <ng-container *ngFor="let annotation of annotations; let annI = index">
                                                            <ng-container *ngIf="annotation.comments">
                                                                <ul *ngFor="let comment of annotation.comments; let commI = index">
                                                                    <li>{{comment.content}}</li>
                                                                </ul>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                    <!--<span class="govuk-hint" *ngIf="npaDocumentTask">New document ID is:<br> {{npaDocumentTask.outputDocumentId}}</span>-->
                                                </div>
                                                <ul *ngIf="detail.ul" class="item.ul.classes">
                                                    <ng-container *ngFor="let el of detail.ul.li; let l = index">
                                                        <li *ngIf="pageValues[el.control] === true && el.type === 'checkbox' && el['true']">{{el[pageValues[el.control]]}}</li>
                                                        <li *ngIf="el.type === 'textarea'">{{pageValues[el.control]}}</li>
                                                    </ng-container>
                                                </ul>
                                            </ng-container>
                                        </dd>
                                        <dd class="app-check-your-answers__change">
                                            <a style="cursor:pointer"  (click) = onSubmit(content.link.event) title="Edit {{content.link.event}} page">{{content.link.text}}<span class="govuk-visually-hidden">{{content.link.hiddenAccessibilityText}}</span></a>
                                        </dd>
                                    </ng-container>
                                </div>
                            </dl>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="pageitems.buttons">
                        <ng-container *ngFor="let button of pageitems.buttons; let bi = index;">
                            <input class="govuk-button" type="submit" formControlName="{{button.control}}">
                        </ng-container>
                    </ng-container>
                </form>
            </div>
        </div>
    </main>
</div>
