<app-govuk-back-link></app-govuk-back-link>

<div class="jui-width-container">
    <main class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">


            <div *ngIf="pageitems" class="govuk-grid-column-two-thirds">
                <ng-container *ngIf="useValidation && form.invalid">
                    <app-validation-header [validationHeaderErrorMessages]="pageitems.validationHeaderErrorMessages" [formGroup]="form">
                    </app-validation-header>
                </ng-container>
                <h1 class="govuk-heading-xl">{{pageitems.header}}</h1>

                <form *ngIf="pageitems" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <ng-container *ngFor="let group of pageitems.groups; let Index = index">


                        <!-- Financial Remedy -->
                        <ng-container *ngIf="(isSectionExist(group.page) && this.typeId === 'FinancialRemedyMVP2') || (this.typeId === 'Benefit' && pageitems.name === 'check-final-decision')">
                            <h2 class="govuk-heading-m" *ngIf="isSectionExist('reject-reasons')">{{ group.header }}</h2>
                            <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-8">
                                <div class="app-check-your-answers__contents" *ngFor="let content of group.contents; let c = index">
                                    <ng-container>
                                        <dt class="app-check-your-answers__question" *ngIf="isSectionExist('reject-reasons')">{{content.title}}</dt>
                                        <dt class="app-check-your-answers__question" *ngIf="!isSectionExist('reject-reasons')">{{content.titleYes}}</dt>
                                        <dd class="app-check-your-answers__answer">
                                            <ng-container *ngFor="let detail of content.details; let i = index">
                                                <p *ngIf="detail.type === 'radio'">{{detail[pageValues[detail.control]]}}</p>
                                                <p *ngIf="detail.type === 'textarea'">{{pageValues[detail.control]}}</p>
                                                <p *ngIf="detail.type === 'input'">{{pageValues[detail.control]}}</p>
                                                <p *ngIf="detail.type === 'checkbox'">{{detail[pageValues[detail.control]]}}</p>
                                                <div *ngIf="detail.type === 'comment' && annotations">
                                                    <ng-container *ngIf="annotations">
                                                        <ng-container *ngFor="let annotation of annotations; let annI = index">
                                                            <ng-container *ngIf="annotation.comments">
                                                                <ul *ngFor="let comment of annotation.comments; let commI = index">
                                                                    <li>{{comment.content}}</li>
                                                                </ul>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                    <!--<span class="govuk-hint" *ngIf="npaDocumentTask">New document ID is:<br> {{npaDocumentTask.outputDocumentId}}</span>-->
                                                </div>
                                                <ul *ngIf="detail.ul" class="item.ul.classes">
                                                    <ng-container *ngFor="let el of detail.ul.li; let l = index">
                                                        <li *ngIf="pageValues[el.control] === true && el.type === 'checkbox' && el['true']">{{el[pageValues[el.control]]}}</li>
                                                        <li *ngIf="el.type === 'textarea'">{{pageValues[el.control]}}</li>
                                                    </ng-container>
                                                </ul>
                                            </ng-container>
                                        </dd>
                                        <dd class="app-check-your-answers__change">
                                            <a style="cursor:pointer"  (click) = onSubmit(content.link.event) title="Edit {{content.link.event}} page">{{content.link.text}}<span class="govuk-visually-hidden">{{content.link.hiddenAccessibilityText}}</span></a>
                                        </dd>
                                    </ng-container>
                                </div>
                            </dl>
                        </ng-container>
                        <!--End of Financial Remedy -->

                        <!--Preliminary Vew-->
                        <ng-container *ngIf="this.typeId === 'Benefit'">

                            <app-govuk-inset-text  *ngIf="group.inset"
                                                   [text]="group.inset.text">
                            </app-govuk-inset-text>

                            <hr *ngIf="pageitems.name === 'check-tribunal' && group.hr" class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                            <div *ngIf="group.information" class="panel panel--information">
                                <p>The tribunal have considered all the information submitted by you and DWP.</p>
                                <p *ngIf="pageValues.approveDraftConsent === 'endDate'
                                            && pageValues['awardStartDateDay']
                                            && pageValues['awardStartDateMonth']
                                            && pageValues['awardStartDateYear']
                                            && pageValues['awardEndDateDay']
                                            && pageValues['awardEndDateMonth']
                                            && pageValues['awardEndDateYear']">Their view is that you’re entitled to PIP at the rate below from
                                    {{ pageValues['awardStartDateDay']+'/'+pageValues['awardStartDateMonth']+'/'+pageValues['awardStartDateYear'] | date: 'dd MMMM yyyy' }}
                                    until
                                    {{ pageValues['awardEndDateDay']+'/'+pageValues['awardEndDateMonth']+'/'+pageValues['awardEndDateYear'] | date: 'dd MMMM yyyy' }}.</p>
                                <p *ngIf="pageValues.approveDraftConsent === 'indefinite'
                                            && pageValues['awardStartDateDay']
                                            && pageValues['awardStartDateMonth']
                                            && pageValues['awardStartDateYear']">Their view is that you’re entitled to PIP at the rate below from
                                    {{ pageValues['awardStartDateDay']+'/'+pageValues['awardStartDateMonth']+'/'+pageValues['awardStartDateYear'] | date: 'dd MMMM yyyy' }}
                                    until indefinite award date.</p>
                                <table class="govuk-table">
                                    <tbody class="govuk-table__body">
                                        <tr *ngIf="pageValues['forDailyLiving']" class="govuk-table__row">
                                            <th class="govuk-table__header" scope="row">Daily living</th>
                                            <td class="govuk-table__cell">{{group.information[pageValues['forDailyLiving']]}}</td>
                                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                                <a style="cursor:pointer; color: #005ea5; text-decoration: underline"
                                                   (click) = "onSubmit('preliminary-advanced')"
                                                   title="Edit preliminary-advanced page">Change
                                                    <span class="govuk-visually-hidden">daily living award for appellant</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="pageValues['forMobility']" class="govuk-table__row">
                                            <th class="govuk-table__header" scope="row">Mobility</th>
                                            <td class="govuk-table__cell">{{group.information[pageValues['forMobility']]}}</td>
                                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                                <a style="cursor:pointer; color: #005ea5; text-decoration: underline"
                                                   (click) = "onSubmit('preliminary-advanced')"
                                                   title="Edit preliminary-advanced page">Change
                                                    <span class="govuk-visually-hidden">mobility award for appellant</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <!-- DO NOT DELETE THIS COMMENTED CODE BELOW - TO BE APPROVED BY JUDGE'S --->
                                        <!--<tr *ngIf="pageValues['compareToDWPAward']" class="govuk-table__row">-->
                                            <!--<th class="govuk-table__header" scope="row">DWP award</th>-->
                                            <!--<td class="govuk-table__cell">{{pageValues['compareToDWPAward']}}</td>-->
                                            <!--<td class="govuk-table__cell govuk-table__cell&#45;&#45;numeric">-->
                                                <!--<a style="cursor:pointer; color: #005ea5; text-decoration: underline"-->
                                                   <!--(click) = "onSubmit('preliminary-advanced')"-->
                                                   <!--title="Edit preliminary-advanced page">Change-->
                                                    <!--<span class="govuk-visually-hidden">DWP award for appellant</span>-->
                                                <!--</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    </tbody>
                                </table>
                                <p *ngIf="pageValues['compareToDWPAward']">This is the {{pageValues['compareToDWPAward'] | lowercase }} DWP initially awarded you.</p>
                                <p>If both you and DWP accept this view, you’ll be awarded PIP at the above rate.</p>
                            </div>
                            <ng-container *ngIf="group.reasons">
                                <p>{{ pageValues.reasonsTribunalView }}</p>
                                <p>
                                    <a style="cursor:pointer; color: #005ea5; text-decoration: underline"
                                       (click) = "onSubmit('check')"
                                       title="Edit preliminary-advanced page">Change
                                        <span class="govuk-visually-hidden"> the reasons for the tribunal’s view</span>
                                    </a>
                                </p>
                            </ng-container>
                            <p *ngIf="group.statictext">{{ group.statictext.text }}</p>
                            <h2 *ngIf="group.heading" [class]="group.heading.classes">{{ group.heading.text }}</h2>

                            <table *ngIf="group.table && hasActivities(group.table.activities)" [class]="'govuk-table ' + group.table.classes">

                                <caption *ngIf="group.table.caption" [class]="'govuk-table__caption ' + group.table.caption.classes">{{group.table.caption.text}}</caption>

                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" *ngFor="let head of group.table.headers" >{{ head }}</th>
                                    </tr>
                                </thead>

                                <tbody class="govuk-table__body">

                                <tr class="govuk-table__row" *ngFor="let activity of group.table.activities">
                                    <ng-container *ngIf="pageValues[activity.type] === true">
                                        <td class="govuk-table__cell">{{activity.name}}</td>
                                        <ng-container *ngFor="let score of activity.scores">
                                            <ng-container *ngIf="pageValues[activity.selector] === score.selector">
                                                <td class="govuk-table__cell">
                                                    {{score.text}}
                                                    <ul *ngIf="score.list">
                                                        <li *ngFor="let li of score.list.text" [class]="score.list.classes">{{ li }}</li>
                                                    </ul>
                                                </td>
                                                <td class="govuk-table__cell">{{score.score}}</td>
                                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                                    <a style="cursor:pointer"
                                                       (click) = onSubmit(activity.link)
                                                       title="Edit {{activity.link}} page">Change
                                                        <span class="govuk-visually-hidden">{{activity.hiddenAccessibilityText}}</span>
                                                    </a>
                                                </td>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </tr>

                                </tbody>
                            </table>

                            <!--Formbuilder code to render textarea--->
                            <ng-container *ngIf="group.textarea">
                                <div class="govuk-form-group" *ngFor="let group of pageitems.groups">
                                    <app-fieldset *ngIf="group.fieldset"
                                                  [classes]="'govuk-fieldset'"
                                                  [group]="form"
                                                  [data]="group.fieldset"
                                                  [validate]="useValidation">
                                    </app-fieldset>
                                    <app-jui-form-elements [group]="form" [validate]="useValidation" [data]="group"></app-jui-form-elements>
                                </div>
                            </ng-container>
                            <!--End of formbuilder -->

                        </ng-container>
                        <!--End of Preliminary Vew-->


                    </ng-container>
                    <ng-container *ngIf="pageitems.buttons">
                        <ng-container *ngFor="let button of pageitems.buttons; let bi = index;">
                            <input class="govuk-button" type="submit" formControlName="{{button.control}}">
                        </ng-container>
                    </ng-container>
                </form>
            </div>


        </div>
    </main>
</div>
