
////////////////////////////////////////
// table.component.scss
////////////////////////////////////////

@import "../../../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.govuk-table {
    display: table;
}

cdk-header-row {
    display: table-row;
}

cdk-row {
    display: table-row;
}

cdk-header-cell {
    display: table-cell;
}

cdk-cell {
    display: table-cell;
}

////////////////////////////////////////
////////////////////////////////////////
