
<div data-selector="table-component">
    <cdk-table *ngIf="resultView" [dataSource]="resultView.results" class="govuk-table govuk-!-f-16">
        <ng-container cdkColumnDef="case_id">
            <cdk-header-cell *cdkHeaderCellDef class="govuk-table__header" attr.data-selector="case-number-header">Case number</cdk-header-cell>
            <cdk-cell class="govuk-table__cell" *cdkCellDef="let row;">
                <a data-selector="case-reference-link" routerLink="/case/{{row.case_jurisdiction}}/{{row.case_type_id}}/{{row.case_id}}/summary">{{row.case_fields.case_ref}}</a>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="state">
            <cdk-header-cell *cdkHeaderCellDef class="govuk-table__header" attr.data-selector="decision-needed-on-header">Decision needed on</cdk-header-cell>
            <cdk-cell class="govuk-table__cell" *cdkCellDef="let row;">
                <span attr.data-selector="case-status-value" *ngIf="!row.case_fields.status.actionGoTo">{{row.case_fields.status.name}}</span>
                <a data-selector="case-status-reference-link" *ngIf="row.case_fields.status.actionGoTo" routerLink="{{row.case_fields.status | casestatusgoto: row.case_jurisdiction:row.case_type_id:row.case_id}}">{{getStateLinkLabel(row)}}</a>
            </cdk-cell>
        </ng-container>

        <ng-container *ngFor="let column of resultView.columns; let i = index" cdkColumnDef="{{column.case_field_id}}">
            <ng-container >
                <cdk-header-cell *cdkHeaderCellDef class="govuk-table__header" attr.data-selector="{{column.case_field_id}}-header">{{column.label}}</cdk-header-cell>
                <cdk-cell class="govuk-table__cell" *cdkCellDef="let row">
                    <span attr.data-selector="{{column.case_field_id}}-value" *ngIf="column.date_format">{{row.case_fields[column.case_field_id] | date: column.date_format:'+0000'}}</span>
                    <span attr.data-selector="{{column.case_field_id}}-value" *ngIf="!column.date_format">{{row.case_fields[column.case_field_id]}}</span>
                </cdk-cell>
            </ng-container>

        </ng-container>

        <thead class="govuk-table__head">
            <cdk-header-row *cdkHeaderRowDef="displayedColumns()" class="govuk-table__head"></cdk-header-row>
        </thead>
        <tbody class="govuk-table__body">
            <cdk-row data-selector="table-row" class="govuk-table__row"
                     *cdkRowDef="let results; columns: displayedColumns()"></cdk-row>
        </tbody>

    </cdk-table>
</div>
