<!-- Comment components start-->
<div class="jui-comment">
    <div class="jui-comment__header">
        <span class="jui-comment__author" data-selector="author">Judge Prita Shah</span>
        <time class="jui-comment__meta" datetime="2018-08-23T16:48" data-selector="timestamp">23 August 2018 at 4:48pm</time>
    </div>
    <div class="jui-comment__content" data-selector="comment-content"><p>Please provide more details on the contents of family home.</p></div>
    <div class="jui-comment__footer">
        <button class="govuk-button" type="submit" data-selector="edit">Edit</button>
        <button class="govuk-button hmcts-button--secondary" type="submit" data-selector="delete">Delete</button>
    </div>
</div>
<!-- Comment components end-->
