/* ==========================================================================
   #TIMELINE
   ========================================================================== */

.jui-timeline {
  position: relative;

  &:before {
    background-color: govuk-colour("blue");
    content: "";
    height: calc(100% - 10px);
    left: 0;
    position: absolute;
    top: govuk-spacing(2);
    width: 5px;
  }

}

.jui-timeline--full {
  &:before {
    height: calc(100% - 69px);
  }
}


.jui-timeline__item {
  padding-bottom: govuk-spacing(6);
  padding-left: govuk-spacing(4);
  position: relative;

  &:before {
    background-color: govuk-colour("blue");
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: govuk-spacing(2);
    width: 15px;
  }

}


.jui-timeline__title {
  @include govuk-font($size: 16, $weight: bold);
  display: inline;
}


.jui-timeline__by {
  @include govuk-font($size: 16);
  color: $govuk-secondary-text-colour;
  display: inline;
  margin: 0;
}


.jui-timeline__date {
  @include govuk-font($size: 16);
  margin: 0;
}


.jui-timeline__documents {
  list-style: none;
  padding-left: 0;
}


.jui-timeline__document-item {
  margin-bottom: govuk-spacing(1);
}


.jui-timeline__document-link {
  background-image: url(#{$jui-assets-path}icon-document.svg);
  background-repeat: no-repeat;
  background-size: 15px 20px;
  background-position: 0 50%;
  padding-left: govuk-spacing(5);
}