<app-govuk-back-link></app-govuk-back-link>
<main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 *ngIf="pageitems" class="govuk-heading-xl">{{pageitems.header}}</h1>
            <form *ngIf="pageitems" [formGroup]="notesForCourtAdminForm" (ngSubmit)="onSubmit()">
                <div class="govuk-form-group" *ngFor="let group of pageitems.groups">
                    <app-fieldset *ngIf="group.fieldset"
                                  [classes]="'govuk-fieldset'"
                                  [group]="notesForCourtAdminForm"
                                  [data]="group.fieldset">
                    </app-fieldset>
                    <app-jui-form-elements [group]="notesForCourtAdminForm" [data]="group"></app-jui-form-elements>
                </div>
            </form>
        </div>
    </div>
</main>
