<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" attr.aria-describedby="{{name + '-hint'}}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                {{fieldset.legend.text}}
            </h1>
        </legend>
        <span id="{{idPrefix + '-hint'}}" class="govuk-hint">
            {{hint.text}}
        </span>
        <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item" *ngFor="let item of items; let i = index;">
                <input class="govuk-radios__input" id="{{idPrefix + '-' + (i+1) }}" name="{{name}}" type="radio" value="{{item.value}}">
                <label class="govuk-label govuk-radios__label" for="{{idPrefix + '-' + (i+1) }}">
                    {{item.text}}
                </label>
            </div>
        </div>
    </fieldset>
</div>
