/* ==========================================================================
   #SECONDARY NAV
   ========================================================================== */

   .jui-secondary-nav {
    margin-bottom: govuk-spacing(7);

    @include mq($from: tablet) {
      box-shadow: inset 0 -1px 0 $govuk-border-colour;
      width: 100%;
    }

  }


  .jui-secondary-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  .jui-secondary-nav__item {
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
    display: block;
    margin-top: -1px;

    &:last-child {
      box-shadow: none;
    }

    @include mq($from: tablet) {
      display: inline-block;
      margin-right: govuk-spacing(4);
      margin-top: 0;
      box-shadow: none;
    }

  }


  .jui-secondary-nav__link {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: govuk-spacing(3);
    text-decoration: none;

    @include mq($from: tablet) {
      padding-left: 0;
    }

  }


  .jui-secondary-nav__link[aria-current=page] {
    color: govuk-colour(black);
    position: relative;

    &::before {
      background-color: govuk-colour("blue");
      content: "";
      display: block;
      height: 100%;
      position: absolute; bottom: 0; left: 0;
      width: 5px;

      @include mq($from: tablet) {
        height: 5px;
        width: 100%;
      }

    }

  }