/* ==========================================================================
   #CASEFILE
   This is just for demo purposes only. Not for production usage!
   ========================================================================== */

   .jui-casefile {
    display: flex;
    justify-content: space-between;
  }


  .jui-casefile-files {
    background-color: govuk-colour("grey-4");
    box-sizing: border-box;
    padding: 0 govuk-spacing(6) govuk-spacing(6);
    width: 300px;
  }


  .jui-casefile-page {
    background-color: govuk-colour("grey-4");
    box-sizing: border-box;
    padding: govuk-spacing(6);
    min-width: 900px;
    overflow-x: scroll;
  }


  .jui-casefile-page-head {
    height: 74px;
    margin-bottom: govuk-spacing(7);
  }


  .jui-casefile-page-content {
    background: govuk-colour(white);
    box-shadow: 0 4px 6px 0 rgba(govuk-colour(black), .10);
    box-sizing: border-box;
    margin-top: govuk-spacing(4);
    padding: govuk-spacing(8);
    position: relative;
    width: 100%;
    min-height: 1100px;

    &:first-child {
      margin-top: 0;
    }


    &[data-page]::after {
      color: $govuk-secondary-text-colour;
      content: attr(data-page);
      line-height: 1;
      position: absolute; right: govuk-spacing(4);
      bottom: govuk-spacing(4);
    }

  }


  .jui-casefile-list {
    list-style: none;
    margin: 0;
    padding: 30px 0 0;
    position: sticky;
    top: 0;

    li {
      font-weight: bold;
      margin-bottom: govuk-spacing(1);
    }

    a[aria-current] {
      color: govuk-colour(black);
    }

    ul {
      margin: govuk-spacing(4) 0 govuk-spacing(4) govuk-spacing(4);
      padding: 0;

      li {
        font-weight: normal;
      }

    }

  }