<nav class="jui-casenav">
    <ul class="jui-casenav__list">
        <li class="jui-casenav__item">
            <a class="jui-casenav__link" aria-current="page" href="/app/case/CO18D00150">Summary</a>
        </li>

        <li class="jui-casenav__item">
            <a class="jui-casenav__link" href="/app/case/CO18D00150/casefile">Case file</a>
        </li>
        <li class="jui-casenav__item">
            <a class="jui-casenav__link" href="/app/case/CO18D00150/timeline">Timeline</a>
        </li>

        <li class="jui-casenav__item">
            <a class="jui-casenav__link" href="/app/case/CO18D00150/questions">Questions</a>
        </li>
    </ul>
</nav>
