<ng-container>
    <ng-container *ngIf="data.validationError && validate">
        <ng-container *ngFor="let error of data.validationError">
            <ng-container *ngIf="displayOneMessage(group.errors, id, error.identifier)">
                <app-validation-error-formgroup [group]="group" [validationErrorId]="error.identifier">
                    {{error.value}}
                </app-validation-error-formgroup>
            </ng-container>
        </ng-container>
    </ng-container>
    <div class="govuk-date-input" [id]="id" [attr.data]="data">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <app-inputs [item]="data.day.input"
                            [group]="group"
                            [label]="data.day.input.label"
                            [labelFor]="data.day.input.control"
                            [showValidation]=""></app-inputs>
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <app-inputs [item]="data.month.input"
                            [group]="group"
                            [label]="data.month.input.label"
                            [labelFor]="data.month.input.control"
                            [showValidation]=""></app-inputs>
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <app-inputs [item]="data.year.input"
                            [group]="group"
                            [label]="data.year.input.label"
                            [labelFor]="data.year.input.control"
                            [showValidation]=""></app-inputs>
            </div>
        </div>
    </div>
</ng-container>
