<!-- If no question have been asked for the next round or -->
<ng-container data-selector="no-draft-questions" *ngIf="draft">
    <strong></strong>
    <h2 attr.data-selector="round-{{rounds.length + 1}}" class="govuk-heading-m">Round {{rounds.length + 1}}</h2>
    <!-- No Question asked-->
    <p data-selector="no-draft-questions-details">You haven’t asked any questions.</p>
    <a data-selector="no-draft-add-questions-link" class="govuk-button" routerLink="./new/{{rounds.length + 1}}">Add questions</a>
    <br>
</ng-container>




<!-- List out all other rounds -->
<!-- TODO: need to put it in reverse -->
<ng-container *ngFor="let round of rounds | reverse">
    <h2 attr.data-selector="round-{{round.question_round_number}}" class="govuk-heading-m">Round {{round.question_round_number}}</h2>

    <!--  -->
    <ng-container *ngIf="!round.questions.length;then questionsNone else questionsSome"></ng-container>
    <ng-template #questionsSome>
        <ng-container *ngIf="round.state === 'question_drafted';then questionsDraft else questionsSent" ></ng-container>
    </ng-template>

    <!-- No Question asked-->
    <ng-template #questionsNone data-selector="no-draft-questions">
        <p data-selector="no-draft-questions-details">You haven’t asked any questions.</p>
        <a data-selector="no-draft-add-questions-link" class="govuk-button" routerLink="./new/{{round.length + 1}}">Add questions</a>
        <br>
    </ng-template>

    <!-- Question in draft state-->
    <ng-template #questionsDraft>
        <p data-selector="draft-questions-details">You have not sent these questions to the appellant.</p>

        <app-question-list [questions]="round.questions"></app-question-list>
        <div class="jui-button-action">
            <a data-selector="create-draft-questions-link" class="govuk-button" [ngClass]="{'jui-button--secondary':round.questions.length > 0, 'govuk-!-margin-bottom-4': true} " routerLink="./new/{{round.question_round_number}}">Add questions</a>
        </div>
        <div *ngIf="round.questions.length > 0" class="jui-button-action">
            <a data-selector="send-draft-questions-link" class="govuk-button" routerLink="./check/{{round.question_round_number}}">Send questions</a>
        </div>
        <br>
    </ng-template>

    <!-- Question in Sent state-->
    <ng-template #questionsSent>
        <p data-selector="sent-questions-details">You sent {{round.questions.length}} {{round.questions.length <= 1 ? 'question' : 'questions'}} to the appellant {{round.questions[0].state_datetime | date: "'at' h:mmaaaaa'm 'on' d MMMM yyyy":'+00:00'}}</p>
        <p *ngIf="round.state === 'question_issued' && !round.question_deadline_expired">The appellant has until <time [attr.datetime]="round.expires.dateUtc">{{round.expires.time}} on {{round.expires.date}}</time> to reply.</p>
        <p *ngIf="round.state === 'question_issued' && round.question_deadline_expired"><b>The appellant has not answered all the {{round.questions.length <= 1 ? 'the question' : 'all the questions'}} in time.</b></p>
        <p *ngIf="round.state === 'questions_answered'"><b>The appellant has answered {{round.questions.length <= 1 ? 'the question' : 'all the questions'}} in time.</b></p>
        <app-question-list [questions]="round.questions"></app-question-list>
    </ng-template>
</ng-container>












<!--&lt;!&ndash;No Question Ask (init state)&ndash;&gt;-->
<!--<h2 class="govuk-heading-m">Round 1</h2>-->
<!--<p>You haven’t asked any questions.</p>-->
<!--<a href="/app/cases/SC1231612323/questions/new" role="button" class="govuk-button">Add questions</a>-->
<!--<br>-->
<!--&lt;!&ndash;&ndash;&gt;-->



<!--&lt;!&ndash;One Question in Draft Mode&ndash;&gt;-->
<!--<h2 class="govuk-heading-m">Round 1</h2>-->
<!--<p>You have not sent these questions to the appellant.</p>-->
<!--&lt;!&ndash;<p>You have written&nbsp;1 question(s).</p>-->
<!--<p>You can add more questions, edit the existing questions or send all questions to the appellant.</p>&ndash;&gt;-->

<!--<div class="jui-questions govuk-!-margin-bottom-6">-->
    <!--<div class="jui-questions__item">-->
        <!--<h3 class="jui-questions__subject"><a href="/app/cases/SC1231612323/questions/fa21fe92-8da6-465a-8db8-9de8421cb405">aaaaaaaaaaaa</a></h3>-->
        <!--<p class="jui-questions__meta">Last updated by <span class="jui-questions__author">Judge Prita Shah</span> on <time datetime="2018-08-24T10:47">24 August 2018 at 10:47am</time></p>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="jui-button-action">-->
    <!--<a href="/app/cases/SC1231612323/questions/new" role="button" class="govuk-button jui-button&#45;&#45;secondary govuk-!-margin-bottom-4">Add questions</a>-->
<!--</div>-->
<!--<div class="jui-button-action">-->
    <!--<a href="/app/cases/SC1231612323/questions/check" role="button" class="govuk-button">Send questions</a>-->
<!--</div>-->
<!--<br>-->
<!--&lt;!&ndash;&ndash;&gt;-->




<!--&lt;!&ndash; Two Question in Draft Mode &ndash;&gt;-->
<!--<h2 class="govuk-heading-m">Round 1</h2>-->
<!--<p>You have not sent these questions to the appellant.</p>-->
<!--&lt;!&ndash;<p>You have written 2 question(s).</p>-->
<!--<p>You can add more questions, edit the existing questions or send all questions to the appellant.</p>&ndash;&gt;-->
<!--<div class="jui-questions govuk-!-margin-bottom-6">-->
    <!--<div class="jui-questions__item">-->
        <!--<h3 class="jui-questions__subject"><a href="/app/cases/SC1231612323/questions/fa21fe92-8da6-465a-8db8-9de8421cb405">aaaaaaaaaaaa</a></h3>-->
        <!--<p class="jui-questions__meta">Last updated by <span class="jui-questions__author">Judge Prita Shah</span> on <time datetime="2018-08-24T10:48">24 August 2018 at 10:48am</time></p>-->
    <!--</div>-->
    <!--<div class="jui-questions__item">-->
        <!--<h3 class="jui-questions__subject"><a href="/app/cases/SC1231612323/questions/01eca796-555d-49c1-a19d-ddf23a781c6a">bbbbbbbbbbbbbbb</a></h3>-->
        <!--<p class="jui-questions__meta">Last updated by <span class="jui-questions__author">Judge Prita Shah</span> on <time datetime="2018-08-24T10:48">24 August 2018 at 10:48am</time></p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="jui-button-action">-->
    <!--<a href="/app/cases/SC1231612323/questions/new" role="button" class="govuk-button jui-button&#45;&#45;secondary  govuk-!-margin-bottom-4">Add questions</a>-->
<!--</div>-->
<!--<div class="jui-button-action">-->
    <!--<a href="/app/cases/SC1231612323/questions/check" role="button" class="govuk-button">Send questions</a>-->
<!--</div>-->
<!--<br>-->
<!--&lt;!&ndash;&ndash;&gt;-->

<!--&lt;!&ndash; Two Question Send ready for next round&ndash;&gt;-->
<!--<h2 class="govuk-heading-m">Round 2</h2>-->
<!--<p>You haven’t asked any questions.</p>-->
<!--<a href="/app/cases/SC1231612323/questions/new" role="button" class="govuk-button">Add questions</a>-->
<!--<br>-->
<!--<h2 class="govuk-heading-m">Round 1</h2>-->
<!--<p>You sent 2 questions to the appellant at 10:51am on 24 August 2018.</p>-->
<!--<p>The appellant has until 10:51am on 31 August 2018 to reply.</p>-->

<!--<div class="jui-questions govuk-!-margin-bottom-6">-->
    <!--<div class="jui-questions__item">-->
        <!--<h3 class="jui-questions__subject"><a href="/app/cases/SC1231612323/questions/fa21fe92-8da6-465a-8db8-9de8421cb405"> aaaaaaaaaaaa</a></h3>-->
        <!--<p class="jui-questions__meta">Sent by <span class="jui-questions__author">Judge Prita Shah</span> on <time datetime="2018-08-24T10:51">24 August 2018 at 10:51am</time></p>-->
    <!--</div>-->
    <!--<div class="jui-questions__item">-->
        <!--<h3 class="jui-questions__subject"><a href="/app/cases/SC1231612323/questions/01eca796-555d-49c1-a19d-ddf23a781c6a"> bbbbbbbbbbbbbbb</a></h3>-->
        <!--<p class="jui-questions__meta">Sent by <span class="jui-questions__author">Judge Prita Shah</span> on <time datetime="2018-08-24T10:51">24 August 2018 at 10:51am</time></p>-->
    <!--</div>-->
<!--</div>-->




<!--&lt;!&ndash; Three Question Send and two replied too ready for next round&ndash;&gt;-->
<!--<h2 class="govuk-heading-m">Round 2</h2>-->
<!--<p>You haven’t asked any questions.</p>-->
<!--<a href="/app/cases/SC1231612322/questions/new" role="button" class="govuk-button">Add questions</a>-->
<!--<br>-->
<!--<h2 class="govuk-heading-m">Round 1</h2>-->
<!--<p>You sent 3 questions to the appellant at 12am on 28 May 2018.</p>-->
<!--<p><b>The appellant has not answered all the question in time.</b></p>-->

<!--<div class="jui-questions govuk-!-margin-bottom-6">-->
    <!--<div class="jui-questions__item">-->
        <!--<h3 class="jui-questions__subject"><a href="/app/cases/SC1231612322/questions/51d100e3-acd0-4079-9b59-df1de87066e4">How do you do your shopping?</a> <strong class="jui-status">Replied</strong></h3>-->
        <!--<p class="jui-questions__meta">Responded by <span class="jui-questions__author">Appellant</span> on <time datetime="2018-08-24T08:29">24 August 2018 at 12am</time></p>-->
    <!--</div>-->
    <!--<div class="jui-questions__item">-->
        <!--<h3 class="jui-questions__subject"><a href="/app/cases/SC1231612322/questions/48768706-0b63-4d77-900d-cd1980f4adee">How do you prepare your meals?</a> <strong class="jui-status">Replied</strong></h3>-->
        <!--<p class="jui-questions__meta">Responded by <span class="jui-questions__author">Appellant</span> on <time datetime="2018-05-28T00:00">28 May 2018 at 8:29am</time></p>-->
    <!--</div>-->
    <!--<div class="jui-questions__item">-->
        <!--<h3 class="jui-questions__subject"><a href="/app/cases/SC1231612322/questions/20890c72-d60d-4b7b-b49c-65fe97770a71"> How you wash yourself?</a></h3>-->
        <!--<p class="jui-questions__meta">Sent by <span class="jui-questions__author">Judge Prita Shah</span> on <time datetime="2018-08-24T10:53">24 August 2018 at 12am</time></p>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;&ndash;&gt;-->

