<div class="jui-width-container">
    <app-govuk-back-link></app-govuk-back-link>
    <div class="govuk-grid-row govuk-main-wrapper">
        <div *ngIf="question" class="govuk-grid-column-two-thirds">
            <h1 data-selector="question-header" class="govuk-heading-xl">{{question.header}}</h1>
            <div class="jui-question">
                <p data-selector="question-date" class="jui-question__meta">From <span class="jui-question__author">{{question.owner_reference}}</span>, added on {{question.state_datetime | date: "d MMMM yyyy"}}</p>
                <div class="govuk-prose-scope">
                    <p data-selector="question-body" [innerHTML]="question.body"></p>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" *ngIf="question.answer" >
            <div data-selector="answer-item" class="jui-response" *ngIf="question.answer">
                <h2 data-selector="answer-header" class="govuk-heading-m">Response</h2>
                <p data-selector="answer-date" class="jui-question__meta">From <span class="jui-question__author">Appellant</span>, received on {{question.answer.current_answer_state.state_datetime | date: "d MMMM yyyy"}}</p>
                <div class="govuk-prose-scope">
                    <p data-selector="answer-body">{{question.answer.answer_text}}</p>
                </div>
            </div>
            <div class="jui-button-actions  govuk-!-margin-top-7" *ngIf="!question.answer && question.state_name === 'question_drafted'">
                <div class="jui-button-actions__item  jui-button-actions__item--inline">
                    <a data-selector="edit-question-link" class="govuk-button" routerLink="./edit">Edit question</a>
                </div>
                <div class="jui-button-actions__item  jui-button-actions__item--inline">
                    <a data-selector="delete-question-link" class="govuk-button jui-button--secondary" routerLink="./delete">Delete question</a>
                </div>
            </div>
        </div>
    </div>
</div>
