<div class="jui-width-container">
    <main class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h2 class="govuk-panel__title">Hearing confirmed</h2>
                    <div class="govuk-panel__body">{{ caseId }}</div>
                </div>
                <h2 class="govuk-heading-m">What happens next</h2>
                <p>We've sent this to admin and the case has been removed from your dashboard.</p>
                <p><a routerLink="">Go to your dashboard</a></p>
            </div>
        </div>
    </main>
</div>
