<div class="jui-casebar">
    <div class="jui-width-container">
        <app-casebar-details [case]="case"></app-casebar-details>
        <div class="jui-casebar__options">
            <nav class="jui-case-actions">
                <ul class="jui-case-actions__list">
                    <li class="jui-case-actions__item">
                        <a data-selector="make-decision-button" class="jui-case-actions__link" routerLink="/">Make decision</a>
                    </li>
                    <li class="jui-case-actions__item">
                        <a data-selector="list-hearing-button" class="jui-case-actions__link" routerLink="/">List for hearing</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
