<div class="jui-width-container">
    <main class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Check hearing notes</h1>

                <div *ngIf="error" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a>{{cohErrorMessage}}</a></li>
                        </ul>
                    </div>
                </div>

                <app-form [callback_options]="callback_options" [formGroup]="form">

                    <dl class="app-check-your-answers  app-check-your-answers--short  govuk-!-margin-bottom-6">
                        <div class="app-check-your-answers__contents">
                            <dt class="app-check-your-answers__question">Notes</dt>
                            <dd class="app-check-your-answers__answer">{{ relistReasonText}}</dd>
                            <dd class="app-check-your-answers__change">
                                <a routerLink="../list">Change <span class="govuk-visually-hidden">decision</span></a>
                            </dd>
                        </div>
                    </dl>
                    <button class="govuk-button" type="submit">List for hearing</button>
                </app-form>

            </div>
        </div>
    </main>
</div>
