<div class="jui-width-container">
    <app-govuk-back-link></app-govuk-back-link>
    <main class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="col-md-6 offset-md-3">
                    <h2 data-selector="check-questions-heading" class="govuk-heading-xl">Check your questions before sending</h2>
                    <dl class="app-check-your-answers  app-check-your-answers--short  govuk-!-margin-bottom-6">
                        <div data-selector="question-check" class="app-check-your-answers__contents" *ngFor="let question of questions$ | async">
                            <dt class="app-check-your-answers__question">{{question.question_header_text}}</dt>
                            <dd class="app-check-your-answers__answer" [innerHTML]="question.question_body_text"></dd>
                            <dd class="app-check-your-answers__change">
                                <a routerLink="../../{{question.question_id}}/edit">Change</a>
                            </dd>
                        </div>
                    </dl>
                </div>
                <button [disabled]="!asyncResolved" data-selector="send-questions" class="govuk-button" (click)="onSubmit()">Send questions</button>
            </div>
        </div>
    </main>
</div>
