<div class="jui-questions govuk-!-margin-bottom-6">
    <div data-selector="questions-item" class="jui-questions__item" *ngFor="let question of questions" >
        <h3 data-selector="questions-subject" class="jui-questions__subject">
            <a data-selector="questions-subject-link" routerLink="./{{question.id}}">{{question.header}}</a>
            <ng-container [ngSwitch]="question.state">
                <app-status *ngSwitchCase="'question_drafted'" [classes]="''" [text]="'Draft'"></app-status>
                <!--<app-status *ngSwitchCase="'question_issue_pending'" [classes]="''" [text]="'Issue Pending'"></app-status>-->
                <!--<app-status *ngSwitchCase="'question_issued'" [classes]="''" [text]="'Issued'"></app-status>-->
                <!--<app-status *ngSwitchCase="'question_deadline_elapsed'" [classes]="''" [text]="'Deadline elapsed'"></app-status>-->
                <!--<app-status *ngSwitchCase="'question_extension_requested'" [classes]="''" [text]="'Extension requested'"></app-status>-->
                <!--<app-status *ngSwitchCase="'question_deadline_extension_denied'" [classes]="''" [text]="'Deadline extension denied'"></app-status>-->
                <!--<app-status *ngSwitchCase="'question_deadline_extension_granted'" [classes]="''" [text]="'Deadline extension granted'"></app-status>-->
                <app-status *ngSwitchCase="'question_answered'" [classes]="''" [text]="'Replied'"></app-status>
            </ng-container>
        </h3>

        <ng-container [ngSwitch]="question.state">
            <p data-selector="questions-meta-data" *ngSwitchCase="'question_drafted'" class="jui-questions__meta">Last updated by <span class="jui-questions__author">{{question.owner_reference}}</span> {{question.state_datetime | date: "'on' d MMMM yyyy 'at' h:mmaaaaa'm'":'+00:00'}}</p>
            <p data-selector="questions-issued-meta-data" *ngSwitchCase="'question_issued'" class="jui-questions__meta">Sent by <span class="jui-questions__author">{{question.owner_reference}}</span> {{question.state_datetime | date: "'on' d MMMM yyyy 'at' h:mmaaaaa'm'":'+00:00'}}</p>
            <p data-selector="questions-answered-meta-data" *ngSwitchCase="'question_answered'" class="jui-questions__meta">Responded by <span class="jui-questions__author">Appellant</span> {{question.state_datetime | date: "'on' d MMMM yyyy 'at' h:mmaaaaa'm'":'+00:00'}}</p>
        </ng-container>
        <div>{{question | json}}</div>
    </div>
</div>




