<header class="jui-header" role="banner" data-selector="jui-header">
    <div class="jui-width-container">
        <div class="jui-header__service">
            <a routerLink="/">Judicial case manager</a>
        </div>
        <div class="jui-header__account">
            <nav class="jui-primary-nav">
                <ul class="jui-primary-nav__list">
                    <li class="jui-primary-nav__item"><a class="jui-primary-nav__link" routerLink="/"
                                                         data-selector="dashboard-link">Dashboard</a></li>
                    <li class="jui-primary-nav__item"><a class="jui-primary-nav__link" [href]="logoutLink"
                                                         data-selector="signout-link">Signout</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
