<header class="jui-header" role="banner" data-selector="jui-header">

    <div class="jui-width-container">

        <div class="jui-header__service">
            <a routerLink="/">Judicial case manager</a>
        </div>

        <div class="jui-header__account">

            <nav class="jui-nav">
                <ul class="jui-nav__list">
                    <li class="jui-nav__item"><a class="jui-nav__link" routerLink="/">Dashboard</a></li>
                    <li *ngIf="loggedIn" class="jui-nav__item"><a class="jui-nav__link" (click)="logout()">Signout</a></li>
                </ul>
            </nav>

        </div>

    </div>

</header>
