<div class="jui-width-container">
    <main class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h2 class="govuk-panel__title">{{ display.header }}</h2>
                    <div class="govuk-panel__body">{{ casenumber }}</div>
                </div>
                <h2 class="govuk-heading-m">What happens next?</h2>
                <p>{{ display.text }}</p>
                <!-- href rather then router link so that the list on the home page gets refreshed-->
                <p><a href="/">Go to your cases</a></p>
            </div>
        </div>
    </main>
</div>
