form{
  padding-left: 2px;
  padding-right: 2px;
  width:94%;
}

form textarea{
  width:100%;
  height: 75px;
  font-size: 12px;
  border-bottom: 1px solid #d0d0d0;
  padding: 2px;
  }

.comment-selected {
  background-color: #eff
}

.btn {
  font-size: 12px;
  padding:0px;
  margin:0px;
  float: right;
}

.comment-meta{
  -webkit-box-shadow: 0 0 1px 3px #000 inset;
  -moz-box-shadow: 0 0 1px 3px #000 inset;
  box-shadow: 0 0 1px 1px #000 inset;
  padding: 5px;
  width:98%;
  text-align: left;
  font-style: italic;
  padding-bottom: 2px;
}
