<form *ngIf="selectedAnnotationId == annotation.id || !selectedAnnotationId" 
  class="comment-list-item" 
  (ngSubmit)="onSubmit()" #commentItem="ngForm" 
  (click)="handleCommentClick($event)">
  <div class="comment-meta">
    <label>Created By: {{comment.createdBy}}</label>
    <br>
    <label ng-controller="datCtrl">Created On: {{ comment.createdDate | date: 'd/M/y HH:mm' }}</label>
    <div *ngIf="comment.lastModifiedDate != null && comment.createdDate != comment.lastModifiedDate">
        <label><br>Last modified By: {{ comment.lastModifiedBy }}</label>
      <label ng-controller="datCtrl"><br>{{ comment.lastModifiedDate | date: 'd/M/y HH:mm' }}</label>
    </div>
  </div>

  <input 
    type="hidden" 
    id="createdBy" 
    required
    [ngModel]="comment.createdBy" name="createdBy"
    value={{comment.createdBy}}>

  <textarea 
    (focus)="onFocus()"
    (blur)="onBlur()"
    type="text" 
    class="form-control" id="comment"
    required
    #commentTextField
    [ngModel]="comment.content" name="content"
    value="comment.content"></textarea>

  <input 
    type="hidden" 
    id="annotationId"
    required
    [ngModel]="comment.annotationId" name="annotationId"
    >

  <input 
    type="hidden" 
    id="commentId"
    required
    [ngModel]="comment.id" name="commentId">

    <div>
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn" (click)="handleDeleteComment($event, comment.id)">Delete</button>
    </div>
</form>
