<form
  class="comment-list-item" 
  (ngSubmit)="onSubmit()" #commentItem="ngForm" 
  (click)="handleCommentClick()">
  <div class="comment-meta">
    <label *ngIf="comment.createdByDetails" class="comment-author">{{comment.createdByDetails.forename}} {{comment.createdByDetails.surname}}</label>
    <br>
    <label class="comment-date" ng-controller="datCtrl">{{ comment.createdDate | date: 'd/M/y HH:mm' }}</label>
    <div *ngIf="isModified()">
        <label>Last modified By: {{comment.lastModifiedByDetails.forename}} {{comment.lastModifiedByDetails.surname}}</label>
      <label class="comment-date" ng-controller="datCtrl"><br>{{ comment.lastModifiedDate | date: 'd/M/y HH:mm' }}</label>
    </div>
  </div>

  <textarea 
    #commentArea
    (blur)="onBlur()"
    type="text" 
    [class.mimic-focus]="focused"
    class="form-control mimic-focus"
    required
    [ngModel]="comment.content" name="content"
    value="comment.content"></textarea>

    <div [hidden]="hideButton" class="comment-btns">
        <button type="submit" class="govuk-button hmcts-page-heading__button" role="button">Comment</button>
        <button 
          class="govuk-button hmcts-page-heading__button hmcts-button--secondary" 
          role="button"
          (click)="handleDeleteComment()">Delete</button>
    </div>
</form>
