
<app-view-case></app-view-case>

<div class="jui-width-container">
    <main id="content" role="main" class="govuk-main-wrapper">
        <nav class="jui-casefilenav">
            <ul class="jui-casefilenav__list">
                <li class="jui-casefilenav__item" *ngFor="let document of documents">
                    <a class="jui-casefilenav__link" [routerLink]="document.href">{{document.label}}</a>
                </li>
            </ul>
        </nav>
        <app-document-panel [documents]="documents" [documentId]="documentId"></app-document-panel>
    </main>
</div>
