// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "/public/images/";
$jui-assets-path : "/public/images/";

$govuk-global-styles: true;
@import "~govuk-frontend/all";
@import "~@hmcts/frontend/all";
@import "public/sass/application";


div.govuk-prose-scope, p {
    white-space: pre-wrap;
}

td.govuk-table__cell {
    white-space: pre-wrap;
}
