// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "/public/images/";
$jui-assets-path : "/assets/images/";

$govuk-global-styles: true;
@import "~govuk-frontend/all";
@import "~@hmcts/frontend/all";
@import "./assets/sass/application";

//a:hover {
//    cursor: pointer;
//}

// current bug in @hmcts/frontend will be fixed soon
.hmcts-primary-navigation {
    margin-bottom: 0;
}

div.govuk-prose-scope, p {
    white-space: pre-wrap;
}
