  <div [hidden]="!selectedAnnotationId">
    <form (ngSubmit)="onSubmit()" #commentForm="ngForm" class="comment-list-form">
        <!-- {{diagnostic}} -->

        <textarea
          id="commentContent"
          type="hidden" 
          class="form-control"
          required
          [(ngModel)]="model.content" name="comment"></textarea>

          <input 
            type="hidden" 
            class="form-control" 
            id="annotationId"
            required
            [(ngModel)]="model.annotationId" name="annotationId"
            value={{selectedAnnotationId}}>

 
      <button type="submit" class="btn btn-success" [disabled]="!commentForm.form.valid">Submit</button>
 
    </form>
  </div>
