<div *ngIf="createdQuestion === 'success'" class="jui-alert jui-alert--success" role="status" aria-live="polite"><span class="jui-alert__icon jui-alert__icon--success">Success!</span>
    <span class="jui-alert__text">Question added</span>
</div>
<div *ngIf="updatedQuestion === 'success'" class="jui-alert jui-alert--success" role="status" aria-live="polite"><span class="jui-alert__icon jui-alert__icon--success">Success!</span>
    <span class="jui-alert__text">Question updated</span>
</div>
<div *ngIf="deletedQuestion === 'success'" class="jui-alert jui-alert--success" role="status" aria-live="polite"><span class="jui-alert__icon jui-alert__icon--success">Success!</span>
    <span class="jui-alert__text">Question deleted</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div *ngFor="let section of panelData.sections">
            <div attr.data-selector="{{section.id}}" *ngIf="section.id === 'questions-to-appellant'">
                <div *ngIf="!sentQuestions.length">
                    <h1 attr.data-selector="{{section.id}}-heading">{{section.name}}</h1>
                        <div data-selector="no-draft-questions" *ngIf="!draftQuestions || !draftQuestions.length">
                            <p data-selector="no-draft-questions-details">You haven’t asked any questions.</p>
                        </div>
                        <div data-selector="draft-questions-list">
                            <div *ngFor="let question of draftQuestions; let j = index">
                                <p data-selector="draft-questions-details" *ngIf="j === 0">You have not sent these questions to the appellant</p>
                                <div data-selector="draft-questions-item" class="jui-questions__item">
                                    <h3 data-selector="questions-subject" class="jui-questions__subject"><a data-selector="questions-subject-link" routerLink="/viewcase/{{this.route.parent.snapshot.params.case_id}}/questions/{{question.id}}">{{question.header}}</a>
                                    </h3>
                                    <p data-selector="questions-meta-data" class="jui-questions__meta">Last updated by <span class="jui-questions__author">{{question.owner_reference}}</span> {{question.state_datetime | date: "'at' h:mmaaaaa'm 'on' d MMMM yyyy":'+00:00'}}</p>
                                </div>
                            </div>
                        </div>
                    <div *ngIf="section.sections[0].fields[0].value">
                        <a data-selector="create-draft-questions-link" class="govuk-button jui-button--secondary" routerLink="/viewcase/{{this.route.parent.snapshot.params.case_id}}/questions/new">Add Questions</a>
                        <br>
                        <a data-selector="send-draft-questions-link" class="govuk-button" (click)="sendQuestions()">Send Questions</a>
                        <!--<a data-selector="send-draft-questions-link" class="govuk-button" routerLink="/viewcase/{{this.route.parent.snapshot.params.case_id}}/questions/check">Send Questions</a>-->
                    </div>
                </div>
                <div *ngIf="sentQuestions && sentQuestions.length">
                    <div data-selector="draft-questions-list">
                        <div *ngFor="let question of sentQuestions; let j = index">
                            <p data-selector="draft-questions-details" *ngIf="j === 0">You sent {{sentQuestions.length}} {{sentQuestions.length <= 1 ? 'question' : 'questions'}} to the appellant {{question.state_datetime | date: "'at' h:mmaaaaa'm 'on' d MMMM yyyy":'+00:00'}}</p>
                            <div data-selector="draft-questions-item" class="jui-questions__item">
                                <h3 data-selector="questions-subject" class="jui-questions__subject"><a data-selector="questions-subject-link" routerLink="/viewcase/{{this.route.parent.snapshot.params.case_id}}/questions/{{question.id}}">{{question.header}}</a>
                                </h3>
                                <p data-selector="questions-meta-data" class="jui-questions__meta">Sent by <span class="jui-questions__author">{{question.owner_reference}}</span> {{question.state_datetime | date: "'at' h:mmaaaaa'm 'on' d MMMM yyyy":'+00:00'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>
