<section role="region">
    <app-hmcts-alert
        *ngIf="sentQuestions === 'success'"
        [type]="'success'" [iconFallbackText]="'Success!'" [text]="'Questions sent'"
    ></app-hmcts-alert>
    <app-hmcts-alert
        *ngIf="sentQuestions === 'failure'"
        [type]="'warning'" [iconFallbackText]="'Failure!'" [text]="'Questions weren\'t sent - try again'"
    ></app-hmcts-alert>
    <app-hmcts-alert
        *ngIf="createdQuestion === 'success'"
        [type]="'success'" [iconFallbackText]="'Success!'" [text]="'Question added'"
    ></app-hmcts-alert>
    <app-hmcts-alert
        *ngIf="updatedQuestion === 'success'"
        [type]="'success'" [iconFallbackText]="'Success!'" [text]="'Question updated'"
    ></app-hmcts-alert>
    <app-hmcts-alert
        *ngIf="deletedQuestion === 'success'"
        [type]="'success'" [iconFallbackText]="'Success!'" [text]="'Question deleted'"
    ></app-hmcts-alert>

    <app-case-actions
        [header]="panelData.name"
        [actionPrimaryButton]="actionPrimaryButton"
        [actionSecondaryButton]="actionSecondaryButton"
    ></app-case-actions>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <app-question [rounds]="panelData.fields[0].value"></app-question>
        </div>
    </div>
</section>
