/* ==========================================================================
   #PRIMARY NAV
   ========================================================================== */

.jui-primary-nav {
  color: govuk-colour(white);
  margin-top: 3px;
}


.jui-primary-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.jui-primary-nav__item {
  display: inline-block;
  margin-right: govuk-spacing(2);

  &:last-child {
    margin-right: 0;
  }

}


.jui-primary-nav__link {
  font-weight: bold;
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

}