<div class="jui-width-container">
    <main class="govuk-main-wrapper" role="main">
            <h1 class="govuk-heading-xl">List for hearing</h1>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <ng-container *ngIf="useValidation && form.invalid">
                        <app-validation-header [validationHeaderErrorMessages]="pageitems.validationHeaderErrorMessages" [formGroup]="form">
                        </app-validation-header>
                    </ng-container>
                    <form *ngIf="pageitems" [formGroup]="form" (ngSubmit)="onSubmit()">

                        <div [ngClass]="{'govuk-form-group':true, 'govuk-form-group--error' : useValidation && form.invalid }">

                            <div class="govuk-form-group" *ngFor="let group of pageitems.groups">
                                <app-fieldset *ngIf="group.fieldset"
                                              [classes]="'govuk-fieldset'"
                                              [group]="form"
                                              [data]="group.fieldset"
                                              [validate]="useValidation">
                                </app-fieldset>
                                <app-jui-form-elements [group]="form" [validate]="useValidation" [data]="group"></app-jui-form-elements>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
    </main>
</div>
