<div class="jui-width-container">
    <main class="govuk-main-wrapper" role="main">
            <h1 class="govuk-heading-xl">List for hearing</h1>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div *ngIf="error.server || error.notes" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li *ngIf="error.server"><a>There Was a Server error</a></li>
                                <li *ngIf="error.notes"><a [routerLink]="['.']" fragment="notes">Enter your hearing notes</a></li>
                            </ul>
                        </div>
                    </div>
                    <app-form [callback_options]="callback_options" [formGroup]="form">
                        <app-textarea
                            [id]="'notes'"
                            [rows]="'5'"
                            [label]="'Hearing notes (optional)'"
                            [errorMessage]="'Enter your hearing notes'"
                            [text]="relistReasonText"
                            [error]="error.notes"
                            [formGroup]="form"
                        ></app-textarea>
                        <button class="govuk-button" type="submit">Continue</button>
                    </app-form>
                </div>
            </div>
    </main>
</div>
